// Colors
$onyx: #39393A;
$isabelline: #F1F0EA;
$paynes-grey: #5D737E;
$silver-lake-blue: #568DB6;
$eagle-green: #0F5257;

// Fonts
$header-font: 'Tangerine', cursive;
$body-font: 'Raleway', sans-serif;
$base-font-size: 14pt;